# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Dependency directories
node_modules/

# Build directories
dist/
build/

# Docker
docker-compose.override.yml
docker-compose.override.yml.example

# Environment variables
.env
.env.test
.env.production

# Debugging directories
.vscode/
.idea/

# macOS
.DS_Store

# Miscellaneous
*.swp
*.swo
